body {
                    font : normal  12px;
             font-family : "Liberation Sans", Arial, Helvetica, sans-serif;
                  height : 100%;
                  margin : 0;
                 padding : 0;
              text-align : center;
                   width : 100%;
}
a, a:visited {
                   color : #2d8b8c;
         text-decoration : none;
}
a:hover, a:active {
                   color : #f90;
                  cursor : pointer;
}
ul,
li {
         list-style-type : none;
}
#map {
                   clear : both;
                  height : 550px;
                position : relative;
                   width : 810px;
}
#main {
                   float : left;
                  height : 550px;
                   width : 810px;
}
#vme_slider{
					margin-top: 10px;
}
a.lblReset {
    background-image: url(../img/house.png);
    background-color: transparent;
    background-repeat: no-repeat;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;
    padding-left: 20px;     /* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
}
/*
#EmbedLink {
	padding: 0;
	margin: 1px 0 1px 5px;
	height: 15px;
	background-image: url("../img/link_button_bg.png");
}

#EmbedLink span {
	margin: 0 5px 0 20px;
	padding: 0;
}
*/

#sidebar {
       border-left-color : #000;
       border-left-width :   1px;
            border-style : solid;
            border-width :   0px   1px;
                   float : right;
               font-size :  12px;
                  height : 550px;
                 padding : 0;
                   width : 210px;
                overflow :  auto ;
}
#sidebar .legend {
                 margin : .5em;
}
#sidebar .legendTitle {
	font-weight: bold;
	padding: .5em 0;
}
#MemberCountries {
}
#wrapper {
                  margin : 0  auto;
              text-align : left;
                   width : 1024px;
}
#top {
       background-repeat : no-repeat;
                   color : rgb(11, 50, 93);
                   float : left;
               font-size :  25px;
                  height : 120px;
             text-shadow : rgb(204, 204, 204)   2px   2px   2px;
          vertical-align : bottom;
                   width : 1024px;
}
#title {
                   color : #036;
                 display : block;
               font-size :  30px;
              font-style : normal;
             font-weight : bold;
                    left : 0.5em;
                  margin : 0;
                 padding : 0;
             text-shadow : #CCC   2px   2px   2px;
                     top : 0.5em;
}
#topBar {
        background-color : rgb(51, 102, 153);
                   clear : both;
                   color : white;
               font-size :  12px;
              margin-top :  10px;
           padding-right :  10px;
              text-align : right;
			  padding-top: 2px;
		   padding-bottom: 2px;
}
#topBar a,
#topBar a:visited {
                   color : #fff;
                  cursor : pointer;
}
#topBar a:hover,
#topBar a:active {
                   color : #f90;
                  cursor : pointer;
}
#bottomBar1 {
        background-color : rgb(51, 102, 153);
                   clear : both;
                   color : white;
               font-size :  12px;
             line-height : 1.5em;
              margin-top :  10px;
              text-align : right;
}
#bottomBar1 a,
#bottomBar1 a:visited {
                   color : #fff;
}
#bottomBar1 a:hover,
#bottomBar1 a:active {
                   color : #f90;
}
#bottomBar2 {
            border-color : #693;
            border-right : 0 solid #693;
            border-style : solid;
            border-width :   1px 0 0;
                   clear : both;
                  height :   1px;
           margin-bottom :  30px;
              margin-top :   1px;
}
#disclaimer {
                   clear : both;
               font-size :  12px;
             padding-top :  55px;
                   width : 100%;
}
#disclaimer p {
                 padding :   0px  10px;
}
#embed {
              border-top :   1px solid;
              margin-top :  20px;
}
#embed-code textarea {
                  height : 300px;
}
.embed-link {
                   color : black;
         text-decoration : underline;
}
.olControlLoadingPanel {
        background-image : url(../img/loading.gif);
     background-position : center;
       background-repeat : no-repeat;
                 width   : 100%;
                 height  : 100%;
}
.olControlMousePosition {
                  bottom :   0px;
                 display : block;
                    left :   9px;
                position : absolute;
}
.olControlAttribution {
                   color : Blue;
                 display : block;
               font-size :  12px !important;
              font-style : normal;
                    left :  50px;
                position : absolute;
                     top : 0.5em;
}
.olPoweredBy {
          -khtml-opacity : 0.5;
            -moz-opacity : 0.5;
                   color : Blue;
                 display : block;
                  filter : alpha(opacity=20);
               font-size :  12px;
              font-style : normal;
                 opacity : 0.70;
                position : absolute;
}
.FigisMapLegend {
              border-top :   1px solid;
                   clear : both;
               font-size :  12px;
             padding-top :  20px;
              text-align : left;
                   width : 100%;
}
.FigisMapLegend div {
                 display : inline;
            margin-right : 1em;
              text-align : center;
}
.FigisMapLegend div img {
            margin-right :   3px;
          vertical-align : middle;
}
#e-link {
        background-color : rgb(51, 102, 153);
                 display : none;
                 height : 100px;
                 padding: .5em 0;
}
#e-link div {
                   color : white;
                 padding : .5em 0;
              text-align : center;
}
#e-link label {
               font-size :  10px;
}
#legend {
           margin-bottom :   0px;
}
.legend img {
          vertical-align : middle;
}
.olControlGraticuleActive svg g text * {
	font-size: 11px;
}
.olControlGraticuleActive svg g polyline {
	opacity: .7;
}
#custom-slider {
    /*width:810px;*/
    padding-top:15px;
    padding-bottom:15px;
    background-image:url(../img/ticks.gif);
}
#custom-slider .x-slider-thumb {
    background-image:url(../img/slider-thumb.png);
}

h3 {
    padding:15px 0 5px;
}

.year-max-largestep{
    background-image: url(../img/control_fastforward_blue.png) !important;
}

.year-min-littlestep{
    background-image: url(../img/resultset_previous.png) !important;
}

.year-min-largestep{
    background-image: url(../img/control_rewind_blue.png) !important;
}

.year-max-littlestep{
    background-image: url(../img/resultset_next.png) !important;
}

.first-year{
    background-image: url(../img/resultset_first.png) !important;
}

.last-year{
    background-image: url(../img/resultset_last.png) !important;
}
/* FeatureInfo */
.FeatureInfo{
	text-align: left;
	font: normal 14px tahoma,arial,helvetica,sans-serif;
	
}

.FeatureInfo ul{
	padding-left: 10px;
}

.FeatureInfo a{
	text-align:right;
}

.FeatureInfo .links {
	text-align:right;
}

/* button icons */
.icon-cancel{
	 background-image: url(../img/cancel.png) !important;
}
.icon-login{
	 background-image: url(../img/door_in.png) !important;
}
.icon-logout{
	 background-image: url(../img/door_out.png) !important;
}
.icon-user{
	 background-image: url(../img/user.png) !important;
}
.encounters-icon{
	background-image: url(../img/bullet_purple.png) !important;

}

.surveydata-icon{
	background-image: url(../img/bullet_red.png) !important;

}

#loginContainer{
	width:100px;
	height:12px;
	float: left;
	padding-left: 10px;
}

#login.user-login a{
	padding-left:20px;
	background-image: url(../img/door_in.png) !important;
	background-repeat:no-repeat;

}

#login.user-logout a{
	padding-left:20px;
	background-image: url(../img/door_out.png) !important;
	background-repeat:no-repeat;

}

#user.user-logout em{
	font-weight:bold;
}

.x-combo-list-item {
	text-align:left;
}

#layerswitcher >div{
	display:none;
}
#layerswitcher div.layersDiv{
	margin:20px;
	display:block;
}

#layerswitcher div.layersDiv .baseLbl, #layerswitcher div.layersDiv .dataLbl{
	font-weight:bold;
	margin: 4px auto;
	
}

/** Search Results **/
.search-result{
	margin:0;
	padding: 6px 2px;
	border-bottom:thin solid black;
}
.search-result em{
	font-weight: bold;
}

.popup-result{
	margin:0;
	padding: 6px 2px;
}
.popup-result em{
	font-weight: bold;
}

.x-view-over{background-color:#DBF1FF;cursor:pointer;}
.x-view-selected{background-color:#A2CAE5}

/** ICONS **/
.legend-icon{
	background-image: url(../img/icons/legend.png) !important;
}
.map-icon{
	background-image: url(../img/icons/map.png) !important;
}
.layers-icon{
	background-image: url(../img/icons/layers.png) !important;
}
.search-icon{
	background-image: url(../img/icons/magnifier.png) !important;
}
.clear-icon{
	background-image: url(../img/icons/delete.png) !important;
}
.back-search-icon{
	background-image: url(../img/icons/application_form_magnify.png) !important;
}

.zoomlink{ 
	padding-left: 15px;
	background-size:13px;
	background-image: url(../img/icons/magnifier.png) !important;
	background-repeat: no-repeat;
}

.zipmlink{ 
	padding-left: 15px;
	background-size:13px;
	background-image: url(../img/icons/compress.png) !important;
	background-repeat: no-repeat;
}

.factlink{ 
	padding-left: 15px;
	background-size:13px;
	background-image: url(../img/icons/page_white_go.png) !important;
	background-repeat: no-repeat;
}
.rellink{ 
	padding-left: 15px;
	background-size:13px;
	background-image: url(../img/icons/attach.png) !important;
	background-repeat: no-repeat;
}


